doctype html
html(lang="ru-RU")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    link(rel="stylesheet" type='text/css' href="static/css/fontawesome.css")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/fontawesome.all.min.js")
    head
        title Test
    body
        div.contain
            .container
                .row
                    .col-xl-3
                        img(src="static/img/logo.png" alt="logo" class="logo")
                    .col-xl-6
                        h3 PDF-конспекты для самостоятельного изучения курса
                    .col-xl-3
                .row
                    .col-xl-7
                        h2(class="predictive") ПРЕДСКАЗАТЕЛЬНЫЙ
                        h1
                            span ФЕНШУЙ
                            i 9
                            span ДВОРЦОВ
                        img(class="star" src="static/img/star.png" alt="star")
                        h4(class="text-1") Освойте базовые навыки системы прогностики по 9 дворцам,
                            span ЧТОБЫ ПРОГНОЗИРОВАТЬ И КОРРЕКТИРОВАТЬ СВОЕ БУДУЩЕЕ
                            i ДЛЯ ПОЛУЧЕНИЯ ДЕНЕГ, ЗДОРОВЬЯ И УДАЧИ
                        h4 Без обратной связи от Татьяны Панюшкиной и домашних заданий.
                    .col-xl-5
                        img(src="static/img/titcher.png" alt="titcher")



        h1 Привет Мир
        .container
            .row




                .col-md
                    h3 Одна колонка
                .col-md
                    h3 Одна колонка
                .col-md
                    h3 Одна колонка

        .slider
            .slider-item
            .slider-item
            .slider-item
        svg(class="icon")
            use(xlink:href="./static/img/svg/symbol/sprite.svg#whatsapp")
        i(class="far fa-hand-spock" )
        i(class="fab fa-whatsapp")
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")

