doctype html
html(lang="ru-RU")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    link(rel="stylesheet" type='text/css' href="static/css/fontawesome.css")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/fontawesome.all.min.js")
    head
        title Hello World
    body
        div.contain
            .container
                .row
                    img(src="static/img/logo.png" alt="logo" class="logo")
                    h3 PDF-конспекты для самостоятельного изучения курса


        h1 Привет Мир
        .container
            .row




                .col-md
                    h3 Одна колонка
                .col-md
                    h3 Одна колонка
                .col-md
                    h3 Одна колонка

        .slider
            .slider-item
            .slider-item
            .slider-item
        svg(class="icon")
            use(xlink:href="./static/img/svg/symbol/sprite.svg#whatsapp")
        i(class="far fa-hand-spock" )
        i(class="fab fa-whatsapp")
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")

