@import "fonts.styl"
@import "libs.styl"
font = Lato-Light
.contain
  background-image url("../img/fon.jpg")
  background-size cover
  height 500px
  .row
    padding-top 20px
    h1
      font-family ChinaCyr
      font-size 60px
      line-height 67px
      text-align center
      margin-bottom 20px
      i
        font-style normal
        color white
        margin-right 25px
      span
        margin-right 25px
        color #FAD264
    .star
      margin 0 3%
    h4
      font-size 18px
      font-family font
      color white
      text-align center
      line-height 22px
      margin-bottom 27px
      i
        font-style normal
        display block
      span
        color #FAD264
        text-transform uppercase
        display block

    h3
      margin-top 25px
      font-size 20px
      font-family font
      color white
      text-align center
    .predictive
      font-family Lato-Black
      font-style normal
      font-weight 900
      font-size 55px
      line-height 66px
      text-align center
      color white

  .logo
   // margin-right 118px
.frame
  background-color #FAD264
  height 63px
  h2
    font-family font
    font-style normal
    font-weight normal
    font-size 20px
    line-height 24px
    text-align center
    text-transform uppercase


