@import "fonts.styl"
@import "libs.styl"
font = Lato-Light
.contain
  background-image url("../img/fon.jpg")
  background-size cover
  height 500px
  .row
    padding-top 20px
    h3
      margin-top 25px
      font-size 20px
      font-family font
      color white
      width 754px
      text-align center

  .logo
    margin-right 118px



